extends layout

block content
  h1= title
  - let results=[{course:"Web apps",faculty:"Chandra Mouli",section:6},{course:"Java",faculty:"Ajay Bandi",section:5},{course:"ADB",faculty:"Qin ",section:4}]
     
    
